/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #8ef6e4;
} 

.header{
    background-color: #edb1f1;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.logo{
    font-weight: 700;
    color: white;
    font-size: 32px;
    display: flex;
    align-items: start;
    padding: 8px;
}

.links{
    display: flex;
    padding: 8px;
    color: aliceblue;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    font-weight: 700;
}

a{
    text-decoration: none;
}

.firstcontainer{
    background-color: #9896f1;
    color: white;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 12px;
}

.welcome{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.firstcontainer .welcome h2{
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
}


.firstcontainer img{

    height: 250px;
    border: 2px solid white;
}

button{
    width: 150px;
}

.secondcontainer{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.secondcontainer h3{
    font-weight: 700;  
    color: white;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
}

.boxes div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    padding: 8px;
    color: white;
    background-color: #d59bf6;
}

div h4{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 600;
    
}

.boxes div p{
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.thirdcontainer{
    display: flex;
    height: 300px;
    align-items: center;
    background-color: #d59bf6;
    margin-top: 22px;
    
}

.thirdcontainer .firstquote{
   font-size: 32px;
   text-align: center;
   color: white;

}

.footer{
    display: flex;
    background-color: #8ef6e4;
    color: white;
    font-weight: 700;
    justify-content: center;
    margin-bottom: auto;
    height: 35px;
    
}

.footer p{
    margin: 0;
    align-self: center;
}